<%- include("../admin/layouts/header") %>

<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Update Offer</h2>
            </div>
            <div id="errorMessage">

            </div>
        </div>
        <form id="offerForm" action="" class="row" method="">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_title" class="form-label">Offer title</label>
                            <input type="text" name="offerTitle" placeholder="Type here" value="<%= offer.offerTitle %>" class="form-control" id="product_title" required />
                        </div>
                        <p > Offer  Type</p>
                        <div class="mb-4 row col-md-12" style="padding-left: 12px;">
                            <label class="mb-2 form-check form-check-inline col-md-3" style="width: 30%;">
                                <input class="form-check-input offerType" value="percentage"  name="offerType" type="radio" required>
                                <span class="form-check-label"> Percentage </span>
                            </label>
                            
                          
                        </div>
                        <div class="row gx-3">
                            <div hidden id="percentageDiv" class="col-md-6 mb-3">
                                <label for="percentageInput" id="discountLabel"  class="form-label">Percentage discount </label>
                                <input id="percentageInput" min="0" max="100" value="<%= offer.percentage %>"  type="number" name="percentage" placeholder="Type here" class="form-control offerInput"  />
                            </div>
                            <div hidden id="fixedAmountDiv" class="col-md-6 mb-3">
                                <label for="fixedAmountInput"  class="form-label"> Price discount </label>
                                <input id="fixedAmountInput" min="0"  type="number" value="<%= offer.fixedAmount %>" name="fixedAmount" placeholder="Type here" class="form-control offerInput"  />
                            </div>
                            <input type="hidden" value="<%= offer._id%>" name="offerId">
                        </div>
                    </div>
                    <button id="submitBtn" class="btn btn-md rounded font-sm hover-up text-center">Save changes</button>
                </div>
                
            </div>
        </form>
    </div>
</section>

<script>
                            
    document.addEventListener('DOMContentLoaded', function() {

        const offerInput = document.querySelectorAll('.offerInput');
        const offerTypes = document.querySelectorAll('.offerType');
        const percentageDiv = document.getElementById('percentageDiv');
        const percentageInput = document.getElementById('percentageInput');
        const submitBtn =  document.getElementById('submitBtn');

        offerInput.forEach(input =>{
            input.addEventListener('keydown',function(event){
                if(event.key == '-' || event.key == 'e' || event.key == '.' ){
                    event.preventDefault();
                    }
            });
        });

        percentageInput.addEventListener('input',function(){
            if(this.value > 100){
                this.value = this.value.slice(0,-1)
            }
        })

        offerTypes.forEach(type=>{
            type.addEventListener('change',function(){
                if(this.value == 'percentage'){
                    percentageDiv.hidden = false;
                    percentageInput.required  = true;
                    percentageInput.disabled  = false;
                }
               
            })
        })

        submitBtn.addEventListener('click',function(event){
            event.preventDefault();

            const formData = Object.fromEntries(
                new FormData(document.getElementById('offerForm'))
            )
            console.log(formData)
            fetch('/admin/offers',{
                method:'PUT',
                headers:{
                    "Content-Type":'application/json'
                },
                body: JSON.stringify({formData})
                })
                .then((response)=>{
                    if(!response.ok){
                        throw new Error('failed to fetch')
                    }
                    return response.json();
                })
                .then(data =>{
                    console.log(data)
                    if(data.updated){
                        // window.location = '/admin/offers'
                        document.getElementById('errorMessage').innerHTML = " <div class='alert-success alert'>Updated Successfully</div>"
                    }else{
                        document.getElementById('errorMessage').innerHTML = " <div class='alert-danger alert'>Edit failed</div>"
                    }
                })
                .catch(error =>{
                    console.error('error on editing offer',error)
                })
        })

    });

</script>

<%- include("../admin/layouts/footer") %>