<%- include("../admin/layouts/header") %>

    <section class="content-main">
        <div class="row col-lg-12">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                </div>
            </div>
        <div class="row col-lg-12">
            <form action="/admin/edit-product" method="post" id="productForm"  class="row " enctype="multipart/form-data">
                <div class="col-lg-6 data-table">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Product details</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="productName" class="form-label">Product title</label>
                                <input type="text" placeholder="Product name" class="form-control" id="productName"
                                 name="productName" value="<%= product.productName %>" required/>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="productDesc">Full description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="productDesc" 
                                name="productDesc"  required><%= product.desc %></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productPrice">Brand</label>
                                        <div class="row gx-2">
                                            <input placeholder="Brand Name" type="text" class="form-control" id="productBrand" 
                                            name="productBrand" value="<%= product.brand %>"  required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productPrice">Color</label>
                                        <div class="row gx-2">
                                            <input placeholder="Color" type="text" class="form-control" id="productColor" 
                                            name="productColor" value="<%= product.color %>"  required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productPrice">Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="&#8377;" type="text" class="form-control" id="productPrice" 
                                            name="productPrice" value="<%= product.price %>"  required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productCat">Age Gap</label>
                                        <select class="form-select" name="productAgeGap" id="productAgeGap" required>
                                            <option disabled selected value=""><%= product.ageGap %></option>
                                            <option>3-5 Y</option>
                                            <option>5-8 Y</option>
                                            <option>8-10 Y</option>
                                            <option>10-13 Y</option>                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productQty" >Quantity</label>
                                        <input placeholder="Quantity" type="number" class="form-control" id="productQty"
                                            name="productQty" value="<%= product.stockQty %>" required/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productCat">Category</label>
                                        <select class="form-select" name="productCat" id="productCat" required>
                                            <option disabled selected value=""><%= product.category %></option>
                                            <option hidden>Choose an option</option>
                                            <option >Unisex</option>
                                            <option>Boys</option>
                                            <option>Girls</option>                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productSubCat">Sub category</label>
                                        <select class="form-select" name="productSubCat" id="productSubCat" required>
                                            <option disabled selected value=""><%= product.subCategory %></option>
                                            <% categories.forEach((cat)=>{ %>                                            
                                            <option><%= cat %></option>
                                            <% }) %>
                                        </select>   
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
                            </div>
                            <div class="card-body col-lg-6">
                                <input type="submit"  class="btn btn-md rounded font-sm hover-up" value="Save Product" > </button>
                            </div>
                        </div>
                    </div>
                </div>  
            
            <div class="row col-lg-6">
                <div class="card-header">
                    <h4>Gallery</h4>
                </div>
                <% product.productImages.forEach((image) => { %>
                <div class="col-lg-6">                   
                    <div class=" col-lg-12 col-md-6">                      
                            <div class="card card-product-grid image-div">
                                <div  class="img-wrap">
                                    <img src="<%= image %>" alt="Product" />
                                    <a  class="btn btn-sm btn-danger deleteBtn">
                                        <span class="material-symbols-outlined">delete</span>
                                    </a>
                                </div>
                            </div>                       
                        <!-- card-product  end// -->
                    </div>                  
                </div>
                <% }) %>
            </div>
            </form>
        </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            console.log('script')
            const productImage = document.querySelectorAll('.img-wrap');
            const deleteBtn = document.querySelectorAll('.deleteBtn');
            const imageDiv = document.querySelectorAll('.image-div');
            let imageInput=[];
            deleteBtn.forEach(button=>{
                button.addEventListener('click',function(){
                   
                    const inputHtml = `<div>
                                        <label class="form-label">Choose an image</label>
                                        <input class="form-control imageInput"  type="file" accept=".png,.jpg,.jpeg"   name="productImages"  required />
                                        <img />
                                    </div>`
                    const thisImageDiv = button.closest('.image-div');
                    button.closest('.image-div').innerHTML = inputHtml
                    const thisInput = thisImageDiv.querySelector('.imageInput');
                    thisInput.addEventListener('change',function(event){
                   
                        const file = event.target.files[0];
                        const reader = new FileReader();
                        reader.onload = function(e){
                            const thisImage = thisImageDiv.querySelector('img');
                            thisImage.src = e.target.result;
                        }
                        reader.readAsDataURL(file);
                        
                    })
                })
            })

            imageInput.forEach(input=>{
                input.addEventListener('change',function(){
                    console.log('image selected')
                })
            })
        })
    </script>

    <%- include("../admin/layouts/footer") %>