<%- include("../user/layouts/header") %>

	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Products</h1>
			<em></em>
			<h2><a href="index.html">Home</a><label>/</label>Products</h2>
		</div>
	</div>
	<!--content-->
	<div class="product">
		<div class="container">
			<div class="col-md-9">
				<div class="mid-popular">
					<% for(let i=0;i<allProducts.length;i++){ %>
						<div class="col-md-4 item-grid1 simpleCart_shelfItem">
							<div class=" mid-pop">
								<div class="pro-img" style="position: relative;">
									<img src="<%= allProducts[i].productImages[0] %>" class="img-responsive products-img" alt="">
									<div  style="position: absolute; top: 5px ; right: 5px;">
										<% if(wishlist?.includes(allProducts[i]._id)){ %>
											<i class="fa-solid fa-heart wishlist-icon " data-productid="<%= allProducts[i]._id %>" style="
												font-size: 30px; 
												color:rgb(255, 0, 0); 
												transition: 0.4s; 
												cursor: pointer;"></i>
										<% }else{ %>
											<i class="fa-solid fa-heart wishlist-icon " data-productid="<%= allProducts[i]._id %>" style="
												font-size: 30px; 
												color: white; 
												transition: 0.4s;
												cursor: pointer;"></i>
										<% } %>
									</div>
									<div class="zoom-icon ">
										<a class="picture" href="<%= allProducts[i].productImages[0] %>" rel="title"
											class="b-link-stripe b-animate-go  thickbox">
											<i class="glyphicon glyphicon-search icon "></i>
										</a>
									</div>
								</div>
								<div class="mid-1">
									<div class="women">
										<div class="women-top">
											<span>
												<%= allProducts[i].category %>
											</span>
											<h6><a href="/single-product/<%= allProducts[i]._id %>">
													<%= allProducts[i].productName %>
												</a></h6>
										</div>
										<% if(allProducts[i].appliedOffer && allProducts[i]?.appliedOffer?.offerType == 'percentage' ){ %>
											<span><%= allProducts[i].appliedOffer?.percentage %>% OFF</span>
										<% }else if(allProducts[i].appliedOffer && allProducts[i]?.appliedOffer?.offerType == 'fixedAmount' ){ %>
											<span><%= '\u20B9' + allProducts[i].appliedOffer?.fixedAmount %> OFF</span>
										<% } %>
										<div class="img item-add">
											<% if(locals.isAuthenticated){ %>
												<% if(cartItems && cartItems.indexOf((allProducts[i]._id).toString())!==-1){ %>
													<a href="/remove-from-cart/<%= allProducts[i]._id %>/" class="removeFromCart btn btn-warning" >Remove from cart</a>
												<% }else{%>
													<a href="/add-to-cart/<%= allProducts[i]._id %>" class="addToCart btn btn-success" >Add to cart</a>
												<% } %>
											<% } %>
									</div>
										<div class="clearfix"></div>
									</div>
									<div class="mid-2">
											<% if(allProducts[i].appliedOffer){ %>
												<p><em class="item_price">
													<strike><%= '\u20B9' +allProducts[i].price %></strike>
												</em></p>
											<p class="offerPrice" style="margin-left: 10px;"><%= '\u20B9' + Math.ceil(allProducts[i].offerPrice) %></p>
											<% }else{ %>
												<p><em class="item_price">
													<%= '\u20B9' +allProducts[i].price %>
												</em></p>
											<% } %>
										<div class="product" hidden><% allProducts[i] %></div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<% } %>
						<div class="clearfix"></div>
				</div>
				<script>
					$(document).ready(function(){
						const originalPrice = $('.item_price');
						const offerPrice = $('.offerPrice');
						const product = $('.product');

						$('.wishlist-icon').click(function(event){
							event.preventDefault();
							event.stopPropagation();
							const currentColor = $(this).css('color')
							const productId = $(this).data('productid')
							let method;
							console.log(productId)

							if(currentColor == 'rgb(255, 255, 255)'){
								$(this).css('color','red');
								method = 'POST'
							}else if(currentColor == 'rgb(255, 0, 0)'){
								$(this).css('color','white')
								method = 'DELETE'
							}
						
							$.ajax({
								url:`/wishlist`,
								method: method,
								data:{
									productId,
								},
								success:function(response){
									console.log(response)
									if(response.added){
										$(this)
									}
								}
							})
						})
					})
				</script>
				<div class="container">
					<nav aria-label="Page navigation example">
						<ul class="pagination" >
						  <li class="page-item">
							<% if(pageNumber > 0){ %>
							<a class="page-link" href="/products/<%= pageNumber-1 %>" aria-label="Previous">
							  <span aria-hidden="true" >&laquo;</span>
							</a>
							<% } %>
						  </li>
						  <% for(let i = 0; i<totalPages;i++){ %>
						  <li class="page-item" ><a class="page-link" href="/products/<%= i %>"><%= i+1 %></a></li>
							<% } %>
						  <li class="page-item">
							<% if(pageNumber+1<totalPages){ %>
							<a class="page-link" href="/products/<%= pageNumber + 1 %>" aria-label="Next">
							  <span aria-hidden="true">&raquo;</span>
							</a>
							<% } %>
						  </li>
						</ul>
					  </nav>
				</div>
			</div>
			<div class="col-md-3 product-bottom">
				<!--categories-->
				<div class=" rsidebar span_1_of_left">
					<h4 class="cate">Filters</h4>
					<ul class="menu-drop">
						<li class="item1"><a href="#">Brand</a>
							<ul class="cute">
								<% filters.brand.forEach(brand=>{ %>
									<li class="subitem1">
										<a href="/categorised-products?catName=<%= catName %>&subCatName=<%= encodeURIComponent(subCatName)%>&filterKey=brand&filterValue=<%=encodeURIComponent(brand.brand)%>&sort=0"><%= brand.brand %></a>
									</li>
								<% }) %>
							</ul>
						</li>
						<li class="item2"><a href="#">Size</a>
							<ul class="cute">
								<% filters.size.forEach(size=>{ %>
									<li class="subitem1"><a href="/categorised-products?catName=<%= catName %>&subCatName=<%= encodeURIComponent(subCatName)%>&filterKey=ageGap&filterValue=<%=encodeURIComponent(size.size)%>&sort=0"><%= size.size %></a></li>
								<% }) %>
							</ul>
						</li>
						<li class="item3"><a href="#">Color</a>
							<ul class="cute">
								<% filters.color.forEach(color=>{ %>
									<li class="subitem1"><a href="/categorised-products?catName=<%= catName %>&subCatName=<%= encodeURIComponent(subCatName)%>&filterKey=color&filterValue=<%=encodeURIComponent(color.color)%>&sort=0"><%= color.color %></a></li>
								<% }) %>
							</ul>
						</li>
					</ul>
				</div>
				<div class=" rsidebar span_1_of_left">
					<h4 class="cate">Sort by</h4>
					<ul class="menu-drop">
						<li class="item1"><a href="#">Price</a>
							<ul class="cute">
								<li class="subitem1"><a href="/categorised-products?catName=<%= catName %>&subCatName=<%= subCatName %>&sort=1">Low to High</a></li>
								<li class="subitem1"><a href="/categorised-products?catName=<%= catName %>&subCatName=<%= subCatName %>&sort=-1">High to Low</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!--initiate accordion-->
				<script type="text/javascript">
					$(function () {
						var menu_ul = $('.menu-drop > li > ul'),
							menu_a = $('.menu-drop > li > a');
						menu_ul.hide();
						menu_a.click(function (e) {
							e.preventDefault();
							if (!$(this).hasClass('active')) {
								menu_a.removeClass('active');
								menu_ul.filter(':visible').slideUp('normal');
								$(this).addClass('active').next().stop(true, true).slideDown('normal');
							} else {
								$(this).removeClass('active');
								$(this).next().stop(true, true).slideUp('normal');
							}
						});
					});
				</script>
			</div>
		</div>
	</div>
	<%- include("../user/layouts/footer") %>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<script src="/js/simpleCart.min.js"> </script>
		<!-- slide -->
		<script src="/js/bootstrap.min.js"></script>
		<!--light-box-files -->
		<script src="/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
			$(function () {
				$('a.picture').Chocolat();
			});
		</script>
		<script src="/js/fetchapi.js"></script>
		</body>

		</html>